doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Serverlessを学ぼう

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css')

  body

    article.deck

      section
        h2 Serverlessを学ぼう
        h4 2018/5/xx
        
      section
        h2 自己紹介
        ul.build.build-items
          li 寺原　歩
          li <a href="https://www.is-tech.co.jp/"><image src="images/ist_logo.png" /></a><br/>の技術戦略推進部
          li Node.jsやりたい人

      section
        h1 Whats Serverless?
        
      section
        h2 <a href="https://knowledge.is-tech.co.jp/knowledge/open.knowledge/view/20">knowledge#20</a> を見よう<br/>
        <p><i class="fas fa-bomb fa-5x faa-tada animated" style="color: red"></i></p>
        
      section
        h2 一般的には
        ul.build.build-items
          li <h3>AWS Lambda</h3>
            img(src="images/lambda_icon.png")
          li <h3>Azure Functions</h3>
            img(src="images/azure_functions.png")
          li <h3>この辺を使ってれば大体Serverlessです。</h2>

      section
        h2 本題
        h3 実際にServerlessでWebAPIを作ってみよう

      section
        h2 Syntax Highlighting
        pre
          code.language-javascript.
            (function() {
              function hanoi(n, a, b, c) {
                return n ? hanoi(n - 1, a, c, b)
                    .concat([[a, b]])
                    .concat(hanoi(n - 1, c, b, a)) : [];
              }
              return hanoi(3, 'left', 'right', 'mid')
                .map(function(d) {
                  return d[0] + ' -&gt; ' + d[1];
                });
            })();

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/bespokejs/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>data-bespoke-hash</em> attribute.
      section
        h2.bullet Just the beginning…
        ul.build.build-items
          li Edit <a href="https://pugjs.org">Pug (formerly Jade)</a> markup in <em class="path">src/index.pug</em>
          li Edit <a href="http://stylus-lang.com">Stylus</a> styles in <em class="path">src/styles/user.styl</em>
          li Edit JavaScript in <em class="path">src/scripts/main.js</em>
        br
        ul.build
          li
            strong Enjoy! :)
            a(href='https://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
